.segment-overlay-slot.flip .segment-overlay__top {
  animation: flip-top 0.4s linear !important;
}

.segment-overlay-slot.flip .segment-overlay__bottom {
  animation: flip-bottom 0.4s linear !important;
}

@keyframes flip-top {
  0% {
    transform: rotateX(0deg);
  }
  50%,
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes flip-bottom {
  0%,
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
